<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>GeoTagApp</title>
		<link rel='stylesheet' href='./stylesheets/style.css'/>
	</head>

	<body>
		
		<header class="row">
			<img src="./images/location.png" width="100"
					alt="an image of a map and location">
			<h1>GeoTagApp</h1>
			<nav>
				<a href="#">About</a> | <a href="#">Help</a> | <a
					href="/">Home</a>
			</nav>
		</header>

		<main class="row">

			<section class="col-1">
				<h2>Tagging</h2>
				<fieldset> 
					<legend>Enter new GeoTag </legend>
					<form id="tag-form" action="/tagging" method="post">
					<br>	
					<label for = latitude>latitude</label>
					<br>
					<input type = text name = latitude id = latitude required placeholder = "latitude" value = <%= currentPosition[0] %>>
					<br>
					<label for = longitude>longitude</label>
					<br>
					<input type = text name = longitude id = longitude required placeholder = "longitude" value = <%= currentPosition[1] %>>
					<br>
					<label for = name>name</label> 
					<br>
					<input type = text name = geoName required pattern = "[A-Z,a-z]+"  maxlength =10 placeholder = "name of the GeoTag (A-Z,a-z)">
					<br>
					<label for = hashtag>hashtag</label>
					<br> 
					<input type = text name = hashtag  pattern = "#[A-Z,a-z]+"  maxlength =11 placeholder = "#hashtag">
					<br>
					<br>
					<button name = submitGeoTag> Submit</button>
					</form>
				</fieldset>
			</section>

			<section class="col-2">
	
				<h2>Discovery</h2>
				<form id="filter-form" action="/discovery" method="post">
				<fieldset>
					<legend> Filter by searchterm</legend>
					<!-- ############### Aufgabe1a Form2 Start -->
					<input type = hidden id = latitude2 value = <%= currentPosition[0] %>>
					<input type = hidden id = longitude2 value =  <%= currentPosition[1] %>>
					<input type = text name = searchterm required id = searchterm >
					<button name = searchGeoTag> Search</button>
					<button name = removeGeoTag> Remove</button>
					
					<!-- ############### Aufgabe1a Form2 Ende -->
				</fieldset>
				</form>
					<div class="row">
						<div class="col-1">
							<ul id="results">
								<!--l!i>Castle (49.01379, 8.404435) #sight</li>
								<li>IWI (49.01379, 8.390071) #edu</li-->
								<!-- Aufgabe 3 Vorbereitung "Beispieleinträge der Discovery-Liste ersetzen", unsicher ob korrekt -->
								    

	
								<% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
									<li><%= gtag.TagName %> ( <%= gtag.latitude %>,<%= gtag.longitude %>) <%= gtag.hTag %> </li>
								<% }); %>
								
								

							</ul>
						</div>

						<div class="col-2">
							<img id="result-img" src="./images/mapview.jpg" alt="a map with locations"/>
							<div class="caption">Result map</div>
						</div>
					</div>
			</section>

		</main>

		<footer class="row">
			<span>2017 by LKIT</span>
		</footer>
		<!-- Load JavaScripts
  		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="./javascripts/geotagging.js"></script>
	</body>
</html>
